@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --font-integral: "Clash Display", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-mono: var(--font-geist-mono);
  --font-integral: var(--font-integral);
  --font-satoshi: var(--font-satoshi);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi);
  min-width: 360px;
}
